{{define "content"}}
    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="postTitle">Title</label>
                <input type="text" class="form-control" name="title" id="postTitle" placeholder="Post title" required>
            </div>
        </div>
        <div class="form-group">
            <label for="postContent">Content</label>
            <textarea class="form-control" name="content" id="postContent" placeholder="write the post content" required></textarea>
        </div>
{{/*        TODO: when session login feature ok remove this line*/}}
        <input type="hidden" class="form-control" name="uid" id="uid">

        {{ .CsrfTag }}
        <button class="btn btn-success" type="submit">Create</button>
    </form>
{{end}}

{{define "script"}}

<script>
    $(document).ready(function () {
        firebase.auth().onAuthStateChanged(function(user) {

            if (user) {
                $("#uid").val(user.uid);
            } else {
                // No user is signed in.
                window.location = "/";
            }
        })
    });
</script>

{{end}}