{{define "content"}}
    <form>
    <div class="form-group">
        <label for="user_name">User name</label>
        <input type="text" class="form-control" id="user_name" minlength="6" required>
    </div>
    <div class="form-group">
        <label for="user_email">Email address</label>
        <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="user_pwd">Password</label>
        <input type="password" class="form-control" id="user_pwd" minlength="8" required>
    </div>
    <div class="form-group">
        <label for="confirm_pwd">Confirm Password</label>
        <input type="password" class="form-control" id="confirm_pwd" minlength="8" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{{end}}
{{/*// TODO: add firebase authentication sign up with email password*/}}
{{/*// https://firebase.google.com/docs/auth/web/firebaseui?authuser=1*/}}