{{define "style"}}
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
{{end}}
{{define "content"}}
    <div id="firebaseui-auth-container"></div>
{{end}}

{{define "script"}}
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script>
        // TODO: disable sign up page
        const ui = new firebaseui.auth.AuthUI(firebase.auth());
        ui.start('#firebaseui-auth-container', {
            signInSuccessUrl: '/',
            signInOptions: [
                firebase.auth.EmailAuthProvider.PROVIDER_ID,
            ],
            // Other config options...
            credentialHelper: firebaseui.auth.CredentialHelper.NONE
        });
    </script>
{{end}}