{{define "style"}}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
{{end}}
{{define "content"}}
    <form class="form-signin text-center" id="loginUserForm" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="userEmail" class="sr-only">Email address</label>
        <input type="email" class="form-control" name="userEmail" id="userEmail" aria-describedby="emailHelp" required>
        <label for="userPwd" class="sr-only">Password</label>
        <input type="password" class="form-control" name="userPwd" id="userPwd" minlength="8" required>
        {{ .CsrfTag }}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit_btn">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
{{end}}
{{define "script"}}
    <script>
        function postIdTokenToSessionLogin(idToken, uid) {
            url = window.location.href;
            $.ajax({
                url: url,
                type: 'POST',
                headers: {
                    "X-CSRF-Token": document.getElementsByName("gorilla.csrf.Token")[0].value
                },
                data: {
                    idToken: idToken,
                    uid: uid
                },
                success: function(response) {
                    // alert(response);
                    window.location.assign('/user/dashboard/');
                },
                error: function(xhr) {
                    alert(xhr.status);
                }
            });
        }

        $( "#loginUserForm" ).submit(function( event ) {
            event.preventDefault();
            const submitBtn = $("#submit_btn");
            submitBtn.prop("disabled", true);
            const loadingHtml = `<button class="btn btn-primary" type="button" disabled>
                                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                  <span class="sr-only">Loading...</span>
                                </button>`
            submitBtn.append(loadingHtml)

            const user_email = $('#userEmail').val();
            const user_pwd = $('#userPwd').val();

            // As httpOnly cookies are to be used, do not persist any state client side.
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

            // When the user signs in with email and password.
            firebase.auth().signInWithEmailAndPassword(user_email, user_pwd).then(user => {
                // Get the user's ID token as it is needed to exchange for a session cookie.
                return firebase.auth().currentUser.getIdToken().then(idToken => {
                    // Session login endpoint is queried and the session cookie is set.
                    return postIdTokenToSessionLogin(idToken, user.user.uid)
            });
            }).then(() => {
                // A page redirect would suffice as the persistence is set to NONE.
                return firebase.auth().signOut();
            }).then(() => {
                // window.location.assign('/');
            }).catch((err) => {
                submitBtn.empty();
                submitBtn.append('Sign in');
                submitBtn.prop("disabled", false);
                alert(err.message)
            });
        });
    </script>
{{end}}